<% provide(:title, 'Части костюмов') %>
<h1>Список частей костюмов</h1>
<div class='parts-container'>
  <div class='table-row header'>
    <div class='table-cell operations'><h3>Операции</h3></div>
    <div class='table-cell name'><h3>Название</h3></div>
    <div class='table-cell comment'><h3>Комментарий</h3></div>
    <div class='table-cell place'><h3>Место</h3></div>
    <div class='table-cell price'><h3>Цена</h3></div>
    <div class='table-cell pictures'><h3>Изображения</h3></div>
  </div>
  
  <% @parts.each do |part| %>
    <div class='table-row'>
      <% price = part.costumes.first.nil? ? nil : part.costumes.first.price %>
      <% if price.nil? then price = 0 end %>
       <div class='table-cell operations'>
        <%= link_to 'Удалить', delete_part_path(part), method: :delete, data: { confirm: 'Вы уверены?' } %>
        <%= link_to 'Редактировать', edit_part_path(part) %>
      </div>
      <div class='table-cell name'><%= part.name %></div>
      <div class='table-cell comment'><%= part.comment.nil? || part.comment.empty? ? "&nbsp;".html_safe : part.comment %></div>
      <div class='table-cell place'><%= part.place.nil? || part.place.empty? ? "&nbsp;".html_safe : part.place %></div>
      <div class='table-cell price'><%= price %></div>
      <div class='table-cell picture'>
        <% part.pictures.each do |picture| %>
          <%= image_tag picture.image.url, :width => '20' %>
        <% end %>
        &nbsp;
      </div>
    </div>
  <% end %>
  
  <div class='clear-both'></div>
  
  <%= link_to 'Добавить часть костюма', add_part_path %>
</div>