<%= form_for @costume, :url => link, :html => { :multipart => true } do |f| %>

  <%= render :partial => 'common/errors', :locals => { :object => @costume, :object_name => 'костюм' } %>

  <div class="field">
    <%= f.label 'Название' %><br />
    <%= f.text_field :name %>
  </div>

  <div class="price">
    <%= f.label 'Цена' %><br />
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label 'Комментарий' %><br />
    <%= f.text_area :comment, :rows => 3 %>
  </div>
  
  <div class="field">
    <%= f.label 'Доступность' %><br />
    <%= f.select 'availability', Costume::AVAILABILITY_TO_AVAILABILITY_NAME.invert %>
  </div>

  <div class="field">
    <%= f.label 'Части' %><br />
    <% @costume.parts.each do |part| %>
      <%= part.name %>; remove it:
      <%= check_box_tag name='parts[' + part.id.to_s + ']' %>
      <br>
    <% end %>
    <% options_array = Part.all.select{|part| part.can_be_added_to_costume?}.map{|part| [part.name, part.id]} %>
    <% options_array.unshift(['', '']) %>
    <%= select_tag 'parts[new_part]', options_for_select(options_array) %>
  </div>
  
  <div class="field">
    <%= f.label 'Изображения' %><br />
    <% @costume.pictures.each_with_index do |picture, i| %>
      <%= image_tag picture.image.url %>
      remove it:
      <%= check_box_tag name='pictures[picture-' + i.to_s + ']' %>
      <br>
    <% end %>
    <%= file_field_tag 'pictures[new_picture]' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
