<% provide(:title, t('user.titles.list')) %>
<h1><%= t('user.headers.list') %></h1>

<%= will_paginate %>
<%= link_to t('user.buttons.create'), signup_path, class: "btn btn-small" %>
<p />
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
