<ul class="cmgr-tabs-header">
  <% if can? :view_users_list, User %>
    <% if in_users_controller? %>
      <li class="cmgr-active"><a><%= t('user.constants.tab_header') %></a></li>
    <% else %>
      <li><%= link_to t('user.constants.tab_header'), users_path %></li>
    <% end %>
  <% end %>
  <% if can? :read, Costume %>
    <% if in_costumes_controller? %>
      <li class="cmgr-active"><a><%= t('costume.constants.tab_header') %></a></li>
    <% else %>
      <li><%= link_to t('costume.constants.tab_header'), list_costumes_path %></li>
    <% end %>
  <% end %>
  <% if can? :read, Order %>
    <% if in_orders_controller? %>
      <li class="cmgr-active"><a><%= t('order.constants.tab_header') %></a></li>
    <% else %>
      <li><%= link_to t('order.constants.tab_header'), list_orders_path %></li>
    <% end %>
  <% end %>
  <% if can? :update, Client %>
    <% if in_clients_controller? %>
      <li class="cmgr-active"><a><%= t('client.constants.tab_header') %></a></li>
    <% else %>
      <li><%= link_to t('client.constants.tab_header'), list_clients_path %></li>
    <% end %>
  <% end %>
  <% if can? :update, Part %>
      <% if in_parts_controller? %>
      <li class="cmgr-active"><a><%= t('part.constants.tab_header') %></a></li>
    <% else %>
      <li><%= link_to t('part.constants.tab_header'), list_parts_path %></li>
    <% end %>
  <% end %>
</ul>
<div class="cmgr-tabs-content"><%= yield %></div>