<%= form_for @client, :url => link do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2>Невозможно добавить клиента: <%= pluralize(@client.errors.count, "error") %></h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Название' %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label 'Телефон' %><br />
    <%= f.phone_field :phone %>
  </div>

  <div class="field">
    <%= f.label 'E-mail' %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label 'Адрес' %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label 'Контактное лицо' %><br />
    <%= f.text_field :contact %>
  </div>
  
  <div class="field">
    <%= f.label 'Комментарий' %><br />
    <%= f.text_area :comment, :rows => 3 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
