<%= form_for @order, :url => link do |f| %>

  <%= render :partial => 'common/errors', :locals => { :object => @order, :object_name => Order.model_name.human.downcase } %>

  <div class="client">
    <%= f.label :client %><br />
    <%= select_tag :order_client, options_from_collection_for_select(Client.all, :id, :name), {:name => "order_client"} %>
  </div>

  <div class="price">
    <%= f.label :price %><br />
    <%= f.number_field 'price', :min => 0 %>
  </div>
  
  <div class="payed_status">
    <%= f.label :payed_status %>&nbsp;
    <%= f.select 'payed_status', Order::PAYED_TO_PAYED_NAME_MAP.invert %>
  </div>
  
  <div class="costumes">
    <%= f.label :costumes %><br />
    <div id='costumes'>
      <% @order.costumes.each do |costume| %>
        <span>
          <%= costume.name %>
          <%= hidden_field_tag 'order_costumes[]', costume.id, {:id => nil} %>
          <%= f.button 'Удалить', :type => 'button', :onclick => "OrdersHelper.RemoveCostume(event)" %><br />
        </span>
      <% end %>
    </div>
    <span>
    <% costume_selector_options = [] %>
    <% Costume.all.each do |costume| %>
      <% if costume.can_be_added_to_order?(@order) %>
        <% costume_selector_options.push("<option value='" + costume.id.to_s() + "' price='" + costume.price.to_s() + "'>" + costume.name + "</option>") %>
      <% end %>
    <% end %>
      <%= select_tag :costume_selector, costume_selector_options.join().html_safe(), {:name => nil} %>&nbsp;
      <%= f.button 'Добавить', :type => 'button', :onclick => "OrdersHelper.AddCostume(event)" %>
    </span>
  </div>
  
  <div class="taketime">
    <%= f.label :take_time %>&nbsp;
    <%= f.datepicker 'take_time' %>
  </div>

  <div class="returntime">
    <%= f.label :planed_return_time %>&nbsp;
    <%= f.datepicker 'planed_return_time' %>
  </div>

    <div class="returntime">
    <%= f.label :real_return_time %>&nbsp;
    <%= f.datepicker 'real_return_time' %>
  </div>
  
  <div class="comment">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
