<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Payed status:</b>
  <%= @order.payed_status %>
</p>

<p>
  <b>Activity status:</b>
  <%= @order.activity_status %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
